$background_color: #e986f5;
$text_color: white;
$button_background_color: rgb(126,126,126);
$add_cart_bg_color: rgb(224, 209, 93);
$remove_cart_bg_color: rgb(217, 92, 38);
$box_shadow_color: rgba(0,0,0,0.14);
$checkout_cart_bg_color: rgb(8, 119, 193);